@media (max-width: 1080px) {
    main {
        padding: 148px 100px 102px;
    }

    .legal__back-link {
        right: 100px;
    }
}

@media (max-width: 800px) {
    .text__wrapper--headline {
        font-size: 23px;
        font-weight: 700;
    }

    main {
        padding: 148px 48px 102px;
    }

    .legal__back-link {
        right: 48px;
    }

    .footer__content {
        padding: 8vw 48px 40px;
    }
}

@media (max-width: 620px) {
    main {
        padding: 148px 25px 102px;
        gap: 32px;
    }

    .legal__back-link {
        right: 25px;
    }

    .footer__panel-shell {
        clip-path: polygon(0 0, 100% 6vw, 100% 100%, 0 100%);
    }

    .footer__content {
        padding: 20vw 25px 40px;
    }
}