@font-face {
    font-family: "Syne";
    src: url(../assets/fonts/Syne-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Overpass";
    src: url(../assets/fonts/Overpass-VariableFont_wght.ttf);
}

:root {
    --color-bg: #FFFCF3;
    --color-text: #000;
    --color-highlight: #06BC8F;
    --color-error: #E61D40;
    --color-done: #70E71A;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px var(--color-text) inset !important;
	-webkit-text-fill-color: var(--color-bg) !important;
	font-family: "Overpass", Arial, Helvetica, sans-serif !important;
}

input.is-keyboard-focus {
	outline: 3px solid var(--color-highlight);
    outline-offset: 4px;
}

.default__text {
    font-family: "Overpass", Arial, Helvetica, sans-serif;
}

.default__text--16 {
    font-size: 16px;
}

.default__text--18 {
    font-size: 18px;
}

.default__text--22 {
    font-size: 22px;
}

.default__text--22constante {
    font-size: 22px;
}

.default__text--23 {
    font-size: 23px;
}

.default__text--23response {
    font-size: 23px;
}

.default__text--300 {
    font-weight: 300;
}

.default__text--400 {
    font-weight: 400;
}

.default__text--700 {
    font-weight: 700;
}

button,
.button {
    padding: 20px 60px;
    background-color: transparent;
    color: var(--color-text);
    border: 4px solid var(--color-text);
    cursor: pointer;
    transition: all 100ms ease-out;
    display: inline-block;
    text-decoration: none;
}

button span,
.button span {
    transition: all 100ms ease-out;
}

button:hover,
.button:hover {
    padding: 20px 80px;
}

button:hover span,
.button:hover span {
    font-weight: 700;
}

button:active,
.button:active {
    background-color: var(--color-text);
}

button:active span,
.button:active span {
    font-weight: 400;
    color: var(--color-bg);
}

button:disabled {
    opacity: 0.5;
    pointer-events: none;
}

h1 {
    font-size: clamp(36px, 8.21vw + 9.71px, 128px);
    font-weight: 800;
}

h2 {
    font-family: "Syne", Arial, Helvetica, sans-serif;
    font-size: clamp(36px, 4.07vw + 19.28px, 78px);
    font-weight: 800;
    transition: color 100ms ease-in-out;
}

h2:hover {
    color: var(--color-highlight);
}

h3 {
    font-size: clamp(23px, 2.38vw + 13.72px, 48px);
    font-weight: 700;
}

h4 {
    font-family: "Overpass", Arial, Helvetica, sans-serif;
    font-size: clamp(32px, 1.16vw + 28.29px, 45px);
    font-weight: 800;
    line-height: 1.0;
}

h5 {
    font-family: "Overpass", Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 700;
}

a {
    text-decoration: none;
}

.error__message {
    color: #E61C40;
}

.error__message--input {
    padding-left: 4px;
}

.background__color--default {
    background-color: var(--color-bg);
}

.absolute {
    position: absolute;
}

.d-none {
    display: none;
}

.highlight {
    color: var(--color-highlight);
}