@font-face {
    font-family: "Syne";
    src: url(../assets/fonts/Syne-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Overpass";
    src: url(../assets/fonts/Overpass-VariableFont_wght.ttf);
}

:root {
    --color-bg: #FFFCF3;
    --color-text: #000;
    --color-highlight: #06BC8F;
    --color-error: #E61D40;
    --color-done: #70E71A;
}

.theme-dark {
    --color-bg: #000;
    --color-text: #FFFCF3;
}

.default__text {
    font-family: "Overpass", Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 300;
}