@media (max-width: 1200px) {
    .portfolio__details {
        gap: 30px;
    }

    .portfolio__description {
        padding: 24px 0 0;
    }
}

@media (max-width: 1080px) {
    .skills__wrapper {
        padding: 80px 24px;
    }

    .skills__presentation {
        gap: 56px;
    }

    .portfolio__presentation {
        gap: 40px;
    }

    .portfolio__wrapper {
        flex-direction: column;
        overflow: hidden;
    }

    .portfolio__wrapper--left {
        align-items: flex-start;
    }

    .portfolio__wrapper--right {
        align-items: flex-end;
    }

    .portfolio__img--wrap {
        width: 580px;
        padding: 56px 0 0;
    }

    .portfolio__img--wrapLeft::after,
    .portfolio__img--wrapRight::after {
        top: 70px;
    }

    .portfolio__img--wrapLeft::after {
        left: 14px;
    }

    .portfolio__img--wrapRight::after {
        right: 14px;
    }

    .portfolio__img--wrapLeft::before,
    .portfolio__img--wrapRight::before {
        top: calc(18px + 100%);
        width: 36px;
        height: 36px;
    }

    .portfolio__img--wrapLeft::before {
        right: calc(50% - 36px);
        transform: translate(-50%, -50%) rotate(180deg);
    }

    .portfolio__img--wrapRight::before {
        left: 50%;
        transform: translate(-50%, -50%) rotate(-180deg);
    }

    .portfolio__wrapper:hover .portfolio__img--wrapLeft::before,
    .portfolio__wrapper:focus-within .portfolio__img--wrapLeft::before {
        transform: translate(-50%, -50%) rotate(45deg) scale(1.56);
    }

    .portfolio__wrapper:hover .portfolio__img--wrapRight::before,
    .portfolio__wrapper:focus-within .portfolio__img--wrapRight::before {
        transform: translate(-50%, -50%) rotate(-45deg) scale(1.56);
    }

    .portfolio__details {
        width: 580px;
    }

    .portfolio__details--left, .portfolio__details--right {
        transform: translateX(0);
        transform: translateY(-155%);
    }

    .references__wrapper {
        flex-wrap: wrap;
    }

    .references__box {
        flex: 0 1 min(400px, calc((100% - 24px) / 2));
        width: min(400px, calc((100% - 24px) / 2));
        max-width: none;
    }

    .burger-dialog__content {
        justify-content: center;
    }

    .dialog__quicklink {
        padding: 20px 28px;
    }

    .dialog__quicklink--icon {
        height: 40px;
    }
}

@media (max-width: 920px) {
    .about {
        gap: 32px;
    }

    .about__profile {
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    .profile__text {
        width: 100%;
        padding-bottom: 32px;
        gap: 32px;
    }

    .profile__img-wrap {
        width: 500px;
    }

    .skills__learning {
        align-items: center;
    }

    .skills__learning--button {
        padding: 0;
    }

    .skills__learning--button:hover::before {
        transform: translateX(0);
    }

    .contact {
        margin-top: -32px;
    }
}