@media (max-width: 800px) {
    .default__text--22 {
        font-size: 20px;
    }

    .default__text--23response {
        font-size: 20px;
    }

    button,
    .button {
        padding: 20px 40px;
    }

    button:hover,
    .button:hover {
        padding: 20px 60px;
    }

    .header__inner {
        padding: 30px 48px;
    }

    .language__toogle--header {
        display: none;
    }

    .dialog__quicklink {
        padding: 12px 20px;
    }

    .dialog__quicklink--icon {
        height: 25px;
    }

    .language__toogle--dialog {
        display: flex;
    }

    .hero__subheader {
        gap: 8px;
    }

    .hero__scrolldown {
        right: -25px;
    }

    main {
        padding: 0 48px;
    }

    .about {
        padding: 32px 0 0;
    }

    .about__profile--icon {
        height: 32px;
    }

    .arrow {
        height: 250px;
    }

    .arrow__right--icon {
        height: 167px;
    }

    .arrow__left--icon {
        height: 167px;
    }

    .skills__box {
        width: 85px;
    }

    .skills__box img {
        height: 60px;
    }

    .portfolio {
        gap: 64px;
    }

    .portfolio__header {
        width: 100%;
        gap: 32px;
    }

    .references {
        padding: 32px 0 0;
        gap: 32px;
    }

    .references__wrapper {
        padding-top: 8px;
    }

    .contact__content {
        padding: 12vw 48px 40px;
    }

    .contact__formular-wrapper {
        gap: 12px;
    }

    footer {
        flex-direction: column-reverse;
        gap: 26px;
    }

    footer.footer__dialog {
        flex-direction: column;
        gap: 40px;
    }

    .footer__copyright {
        align-items: center;
        gap: 26px;
    }

    .footer__copyright--dialog {
        align-items: flex-start;
    }

    .footer__copyright--text {
        display: none;
    }

    .footer__mail {
        display: block;
    }

    .footer__arrow-link {
        bottom: -45px;
    }

    .footer__legalnotice {
        padding-top: 26px;
        justify-content: center;
    }
}

@media (max-width: 700px) {
    .portfolio__img--wrap {
        width: calc(100% - 24px);
        padding: 56px 0 0;
    }

    .portfolio__details {
        width: calc(100% - 24px);
    }
}

@media (max-width: 620px) {
    .header__inner {
        padding: 30px 25px;
    }

    main {
        padding: 0 25px;
    }

    .about__headline {
        text-align: center;
    }

    .profile__img-wrap {
        width: 100%;
    }

    .profile__img-wrap::after {
        top: 14px;
        left: 14px;
    }

    .portfolio__img--wrapLeft::before,
    .portfolio__img--wrapRight::before {
        top: calc(20px + 100%);
        width: 24px;
        height: 24px;
    }

    .portfolio__img--wrapLeft::before {
        right: calc(50% - 24px);
    }

    .references__wrapper {
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .references__box {
        width: auto;
        max-width: 100%;
    }

    .contact__content {
        padding: 12vw 25px 40px;
    }

    .contact__headline {
        padding-bottom: 40px;
    }

    .contact__formular--headline, .contact__formular--greeting {
        text-align: center;
    }

    .dialog__panel-shell {
        clip-path: polygon(0 0, 100% 6vw, 100% 100%, 0 100%);
    }

    .dialog__panel {
        clip-path: polygon(0 0, 100% 6vw, 100% 100%, 0 100%);
    }
}

@media (max-width: 520px) {
    .hero__subheadline {
        margin-top: 4px;
    }

    .skills__presentation {
        gap: 25px;
    }

    .references__box {
        min-height: 300px;
        flex: 0 0 auto;
    }

    .footer__arrow-link {
        display: none;
    }
}

@media (max-width: 430px) {
    .portfolio__links {
        align-items: center;
        flex-direction: column;
        gap: 16px;
    }

    .portfolio__links a {
        display: flex;
        justify-content: center;
    }

    .portfolio__links a span {
        min-width: 80px;
        text-align: center;
    }
}

@media (max-width: 390px) {
    h2 {
        font-size: 32px;
    }

    .skills__wrapper {
        padding: 48px 8px;
    }

    .skills__learning {
        align-items: center;
        flex-direction: column-reverse;
        text-align: center;
    }

    footer.footer__dialog {
        gap: 26px;
    }
}